# 프로그래머스 정렬 문제
https://programmers.co.kr/learn/courses/30/parts/12198

# 가장 큰 수 (★)
https://programmers.co.kr/learn/courses/30/lessons/42746

## 문제 설명
0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.


예를 들어, 주어진 정수가 [6, 10, 2]라면 [6102, 6210, 1062, 1026, 2610, 2106]를 만들 수 있고, 이중 가장 큰 수는 6210입니다.


0 또는 양의 정수가 담긴 배열 numbers가 매개변수로 주어질 때, 순서를 재배치하여 만들 수 있는 가장 큰 수를 문자열로 바꾸어 return 하도록 solution 함수를 작성해주세요.


### 제한 사항
* numbers의 길이는 1 이상 100,000 이하입니다.
* numbers의 원소는 0 이상 1,000 이하입니다.
* 정답이 너무 클 수 있으니 문자열로 바꾸어 return 합니다.

풀이 참고: https://wooaoe.tistory.com/82

In [57]:
#입출력 예
numbers = [3, 30, 34, 5, 9]
# return = "9534330"

In [69]:
def solution(num):
    num = list(map(str, num)) #map으로 string으로 치환
    print(num)
    
    num.sort(key = lambda x : x*3, reverse = True) #내림차순으로
    print(num)
    
    #모든 문자열 합치기
    answer = str(int(''.join(num)))
    #str(int())를 쓰는 이유:
    #모든 값이 0일 때 -> "000" -> "0"으로 바꾸기 위해
    
    return answer

In [70]:
solution(numbers)

['3', '30', '34', '5', '9']
['9', '5', '34', '3', '30']

'9534330'

### 람다식을 쓰는 이유

num.sort(key = lambda x : x*3, reverse = True) 로 [6, 10, 2] 정렬

* 문제의 numbers의 원소는 0 이상 1,000 이하입니다. 라는 조건을 통해서 x*3


* [666, 101010, 222]가 되고 이를 정렬하면, [666, 222, 101010]이 되어서 결과적으로 [6, 2, 10]의 순서가 된다.


* 문자열 비교연산의 경우엔 첫번째 인덱스인 666[0]인 6과 101010[0]인 1과 222[0]인 2를 ascii숫자로 바꿔서 비교합니다. 물론 같으면, 다음 인덱스도 비교합니다. 비교한 결과 [6, 2, 10]의 순으로 정렬됩니다.


* 즉, 앞자리가 큰 6 -> 2 -> 1순으로 정렬되어서 위와 같은 결과를 얻게 된 것입니다.


https://eda-ai-lab.tistory.com/467

#### 람다식을 안 쓸 경우 - 오답

['3', '30', '34', '5', '9']

['9', '5', '34', '30', '3']

결과 : '9534303'

## 배워둘 것

## 1. map 함수
https://www.daleseo.com/python-map/

#### map(변환 함수, 순회 가능한 데이터)

두 번째 인자의 모든 데이터에 첫 번째 인자를 적용하여 다른 형태로 변환

In [25]:
arr = [1,2,3,4,5]
list(map(str,arr))

['1', '2', '3', '4', '5']

### 일반 함수로 맵핑 (문자열)

In [28]:
#dictionary 
users = [{'mail': 'gre@gmail.com', 'name': 'Brett Holland 2', 'sex': 'M'},
         {'mail': 'hin@hotmail.com', 'name': 'Madison Martinez 3', 'sex': 'F'}]

def convert_arr(users):
    first, last, num = users['name'].split()
    return {'first': first, 'last': last, 'num': num}

for name in map(convert_arr,users):
    print(name)

{'first': 'Brett', 'last': 'Holland', 'num': '2'}
{'first': 'Madison', 'last': 'Martinez', 'num': '3'}

### 람다 함수로 필터링

In [30]:
lam = lambda x: '남' if x['sex'] == 'M' else '여'
for info in map(lam, users):
    print(info)
    
for info in map(lambda x: '남' if x['sex'] == 'M' else '여', users):
    print(info)

남
여
남
여

## 2. split/join() 함수

https://devpouch.tistory.com/77

### 문자열 쪼개기 - split()

In [1]:
string = 'hello world 2021'
splited = string.split()
print(splited)

['hello', 'world', '2021']

### 문자열 합치기 - join()

In [8]:
joined = ''.join(splited)
print(joined)

joined = ' '.join(splited)
print(joined)

joined = '-'.join(splited)
print(joined)

num = '001'
joined = int(''.join(num))
print(joined)

helloworld2021
hello world 2021
hello-world-2021
1